<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hagamos una lista</title>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">
        <h1>{{titulo}}</h1>

        <label>Tarea: </label>
        <input type="text" v-model="nuevaTarea" @keyup.enter="agregarTarea">

        <button @click="agregarTarea" class="btn btn-info">Agregar tarea</button>

        <h3>{{subtitulo}}</h3>

        <ul>
            <li v-for="(tarea, index) in tareas">{{index}}: {{tarea}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>